@import '../../../scss/variables.scss';

.languageBar {
	position: relative;
	background-color: $colorBackgroundHeader;
	@media (max-width: 800px) {
		order: -1;
		margin-bottom: 20px;
	}
}

.menu {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid $colorWhite;
	border-radius: 3px;
	padding: 7px 10px;
	transition: linear 0.1s;
	color: $colorWhite;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		color: black;
		background-color: $colorWhite;
		border: 1px solid $colorBackgroundHeader;
		border-radius: 3px;
	}
	@media (max-width: 1600px) {
		font-size: 16px;
		padding: 6px 8px;
	}
}

.popup {
	display: flex;
	position: absolute;
	background-color: $colorWhite;
	color: $colorBlack;
	font-size: 20px;
	width: 80px;
	height: 100px;
	right: -16px;
	top: 64px;
	border-radius: 0px 0px 5px 5px;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	z-index: 1;
	&::after {
		content: '';
		position: absolute;
		right: 32px;
		top: -36px;
		display: block;
		border: 8px solid transparent;
		border-bottom: 10px solid $colorWhite;
		transform: translateY(100%);
		@media (max-width: 1600px) {
			right: 26px;
			top: -30px;
			border-bottom: 8px solid $colorWhite;
		}
	}
	@media (max-width: 1600px) {
		font-size: 16px;
		width: 66px;
		height: 83px;
		right: -13px;
		top: 53px;
	}
}

.item {
	cursor: pointer;
	width: 100%;
	&:first-child {
		margin-bottom: 20px;
		@media (max-width: 1600px) {
			margin-bottom: 16px;
		}
	}
	&:hover {
		font-weight: 700;
	}
}
