@import '../../../scss/variables.scss';

.search {
	position: relative;
	@media (max-width: 800px) {
		width: 100%;
	}
}

.input {
	width: 730px;
	height: 50px;
	color: $colorBlack;
	padding: 15px;
	background: $colorWhite;
	border-radius: 5px 5px 5px 5px;
	font-size: 16px;
	@media (max-width: 1600px) {
		width: 605px;
		height: 42px;
		padding: 12px;
		font-size: 13px;
	}
	@media (max-width: 800px) {
		width: 100%;
	}
}

.button {
	background-image: url(../../../assets/images/icon-search.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $colorWhite;
	position: absolute;
	right: 3px;
	width: 50px;
	height: 50px;
	@media (max-width: 1600px) {
		background-size: 20px 20px;
		right: 3px;
		width: 42px;
		height: 42px;
	}
}
