.actorProfile {
	padding-top: 32px;
	@media (max-width: 1600px) {
		padding-top: 26px;
	}
}

.titleKnownBy {
	font-size: 34px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 50px;
	@media (max-width: 1600px) {
		font-size: 28px;
		margin-bottom: 41px;
	}
}
