@import '../../scss/variables.scss';

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 28px;
}

.button {
	background-color: $colorBackground;
	color: $colorWhite;
	padding: 6px 9px;
	border: 1px solid $colorWhite;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background-color: $colorWhite;
		color: $colorBlack;
	}
}

.wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
