.categoriesSort {
	display: inline-flex;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
	background-color: #151515;
	& input {
		display: none;
		&:checked + label {
			background-color: #fff;
			color: #000;
		}
	}
	& label {
		font-size: 16px;
		padding: 10px 20px;
		color: #fff;
		cursor: pointer;
		&:not(:last-of-type) {
			border-right: 1px solid rgb(255, 255, 255);
		}
	}
}
