@import '../../scss/variables.scss';

.actorCard {
	cursor: pointer;
}

.wrapImage {
	max-width: 152px;
	width: 100%;
}

.image {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.content {
	color: white;
	word-wrap: normal;
	overflow-wrap: normal;
	width: 152px;
	line-height: 1.4;
}

.title {
	font-weight: 700;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 12px;
}

.character {
	font-size: 14px;
	font-weight: 300;
	color: $colorGreyDark;
}
