.movieCard {
	width: 253px;
	height: 430px;
	cursor: pointer;
	//прозрачность придумать
	// &:hover .movie-card__image {
	//   background-color:#5d5d5d;
	// }
	&:hover .preview {
		display: block;
	}
	&:hover .title {
		color: #fff;
	}
}

.wrapImage {
	position: relative;
	max-width: 253px;
	width: 100%;
	height: 366px;
}

.image {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: -8px;
	top: 6px;
	background-color: #3cb43a;
	width: 42px;
	height: 24px;
	border-radius: 3px;
	font-size: 14px;
}

.preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 62px;
	height: 62px;
	background: #6fb247 url('../../assets/images/icon-play.png') no-repeat center;
	border-radius: 50%;
	display: none;
}

.content {
	color: #d9d9d9;
}

.title {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 12px;
}

.genre {
	& span {
		margin-right: 10px;
	}
}
