.errorPage {
	padding: 100px 0px 120px 0px;
}

.wrapImage {
	max-width: 150px;
	width: 100%;
	height: 150px;
	margin-bottom: 30px;
}

.image {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.title {
	font-size: 40px;
	color: rgb(233, 37, 31);
	margin-bottom: 20px;
}

.text {
	font-size: 20px;
}
