.movieDescription {
	display: flex;
}

.wrapPhotoMovie {
	max-width: 425px;
	width: 100%;
	height: 640px;
	margin-right: 40px;
	flex-shrink: 0;
}

.photoMovie {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.infoMovie {
	font-weight: 300;
	font-size: 16px;
}

.title {
	display: block;
	margin-bottom: 10px;
}

.nameMovie {
	font-size: 46px;
	margin-bottom: 50px;
}

.textBlock {
	margin-bottom: 50px;
}

.text {
	line-height: 1.5;
	font-size: 20px;
}

.number {
	text-transform: uppercase;
	font-size: 20px;
}

.wrapGenre {
	margin-bottom: 50px;
	display: flex;
}

.genre {
	background-color: #3cb43a;
	padding: 8px 13px;
	border-radius: 5px;
	margin-right: 13px;
}

.wrapTopBilledCast {
	margin-bottom: 100px;
}

.blockImages {
	margin-bottom: 80px;
}

.titleImages {
	font-size: 28px;
	display: block;
	margin-bottom: 25px;
}

.wrapImages {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapImage {
	max-width: 250px;
	width: 100%;
	height: 140px;
	margin-bottom: 35px;
	&:nth-of-type(n + 5) {
		margin-bottom: 0px;
	}
}

.image {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}
