$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #d9d9d9;
$colorGreyDark: #858585;
$colorGreen: #3cb43a;

$colorBackground: #151515;
$colorBackgroundHeader: #202020;

$colorOverlay: rgba(66, 66, 66, 0.4);
$colorPreview: #6fb247;
$colorError: #ff9900;
