.actorDescription {
	display: flex;
}

.wrapPhotoActor {
	max-width: 425px;
	width: 100%;
	height: 640px;
	margin-right: 40px;
	flex-shrink: 0;
}

.photoActor {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.infoActor {
	font-weight: 300;
	font-size: 16px;
}

.nameActor {
	font-size: 46px;
	margin-bottom: 50px;
}

.textBlock {
	margin-bottom: 50px;
}

.title {
	display: block;
	margin-bottom: 10px;
}

.date {
	font-size: 20px;
}

.placeBirthActor {
	font-size: 20px;
}

.text {
	line-height: 1.5;
	font-size: 20px;
}

.titlePhotosActor {
	font-size: 28px;
	display: block;
	margin-bottom: 30px;
}

.wrapPhotosActor {
	display: flex;
	margin-bottom: 80px;
}

.wrapPhotoSmallActor {
	max-width: 150px;
	width: 100%;
	height: 230px;
	margin-right: 40px;
}

.photoSmallActor {
	height: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}
